{% for message in app.flashes('success') %}
    <div style="width: 100%;">
        <h3 style="color: green">{{ message }}</h3>
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div style="width: 100%;">
        <h3 style="color: orange">{{ message }}</h3>
    </div>
{% endfor %}
{% for message in app.flashes('info') %}
    <div style="width: 100%;">
        <h3 style="color: lightseagreen">{{ message }}</h3>
    </div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div style="width: 100%;">
        <h3 style="color: red">{{ message }}</h3>
    </div>
{% endfor %}
