<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}QR Generátor{% endblock %}</title>
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/QR_deWP.svg/1920px-QR_deWP.svg.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div style="margin: auto;width: 30%;padding: 10px;">
            {% include '_layout/flash_messages.html.twig' %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
