{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        input {
            width: 100%;
        }

        textarea {
            width:100%;
        }

        select {
            width: 100%;
        }

        li {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
    <div style="margin: auto;width: 30%;padding: 10px;">
        {{ form_start(form) }}
        <table style="white-space:nowrap;width:100%;">
            <tbody>
                <tr>
                    <td>
                        {{ form_label(form.iban) }}
                    </td>
                    <td>
                        {{ form_widget(form.iban) }}
                        {{ form_errors(form.iban) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(form.variableSymbol) }}
                    </td>
                    <td>
                        {{ form_widget(form.variableSymbol) }}
                        {{ form_errors(form.variableSymbol) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(form.specificSymbol) }}
                    </td>
                    <td>
                        {{ form_widget(form.specificSymbol) }}
                        {{ form_errors(form.specificSymbol) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(form.constantSymbol) }}
                    </td>
                    <td>
                        {{ form_widget(form.constantSymbol) }}
                        {{ form_errors(form.constantSymbol) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(form.moneyAmount) }}
                    </td>
                    <td>
                        {{ form_widget(form.moneyAmount) }}
                        {{ form_errors(form.moneyAmount) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(form.moneyCurrency) }}
                    </td>
                    <td>
                        {{ form_widget(form.moneyCurrency) }}
                        {{ form_errors(form.moneyCurrency) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(form.dueDate) }}
                    </td>
                    <td>
                        {{ form_widget(form.dueDate) }}
                        {{ form_errors(form.dueDate) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(form.message) }}
                    </td>
                    <td>
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(form.qrCodeScale) }}
                    </td>
                    <td>
                        {{ form_widget(form.qrCodeScale) }}
                        {{ form_errors(form.qrCodeScale) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(form.qrCodeMargin) }}
                    </td>
                    <td>
                        {{ form_widget(form.qrCodeMargin) }}
                        {{ form_errors(form.qrCodeMargin) }}
                    </td>
                </tr>
                <tr style="text-align: right;">
                    <td>
                    </td>
                    <td>
                        {{ form_widget(form.save) }}
                    </td>
                </tr>
            </tbody>
        </table>
        {{ form_end(form) }}
        <div style="text-align: center;margin-top: 50px;">
            {% if qrCode is defined and qrCode != '' %}
                <img alt="QrCode" src="{{ qrCode }}" />
            {% endif %}
        </div>
    </div>
{% endblock %}